@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   * {
      @apply m-0 p-0 box-border;
   }

   body {
      font-family: var(--font-body);
      background-color: var(--background-color);
      color: var(--text-dark);
   }

   img {
      max-width: 100%;
      display: block;
   }

   a {
      text-decoration: none;
      color: inherit;
   }

   ul li {
      list-style: none;
   }
}

:root {
   --primary-color: #8b4513;
   --background-color: #fffaf5;
   --light-color: #f9e8d6;
   --text-dark: #222;
   --text-muted: #555;
   --footer-background: #0a0a1a;
   --font-body: 'Poppins', sans-serif;
   --font-logo: 'Pacifico', cursive
}

@font-face {
   font-family: 'Pacifico';
   src: url(./Fonts/Pacifico-Regular.ttf) format('truetype');
}

@font-face {
   font-family: 'Poppins';
   src: url(./Fonts/Poppins-Regular.ttf) format('truetype');
   font-weight: 400;
}

@font-face {
   font-family: 'Poppins';
   src: url(./Fonts/Poppins-Bold.ttf);
   font-weight: 700;
}


.container {
   width: 90%;
   max-width: 1200px;
   margin: 0 auto;
}

.header {
   background-color: var(--background-color);
   padding: 1rem 0;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   width: 100%;

}

.header-inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo {
   font-family: var(--font-logo);
   font-size: 2rem;
   color: var(--primary-color);
   font-weight: 500;
}

.menu-desktop {
   display: none;
}

#menu-toggle {
   font-size: 2rem;
   font-weight: bold;
   border: 0;
   background-color: var(--background-color);
}

.hero-overlay {
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/aurora-capa.jpg') center/cover no-repeat;
   padding: 8rem 0;
}

.hero-content {
   color: var(--background-color);
}

.btn {
   background: var(--primary-color);
   color: var(--light-color);
}

.btn:hover {
   background: #5c2e0f;
}

.descricao {
   color: var(--text-muted);
}

.card {
   background: var(--light-color);
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.price {
   color: var(--primary-color);
}

.contact {
   background: var(--light-color);
}

.contact-image {
   max-height: 380px;
   display: flex;
}

.contact-image img {
   object-fit: cover;
   overflow: hidden;
}

.footer {
   background-color: var(--footer-background);
   color: var(--background-color);
}

.footer h3 {
   color: var(--background-color);
}

.social-icons a {
   background-color: #555;
}

.social-icons a:hover {
   background-color: #333;
   transform: scale(1.3);
}